<ul>
  <li>Name: <%= current_user.name %></li>
  <li>Email: <%= current_user.email %></li>
  <li>Status: <%= current_user.user_status&.status %></li>
  <li>Coordinator: <%= current_user.coordinator&.name %></li>
  <li>Phone: <%= current_user.phone %></li>
  <li>Another phone: <%= current_user.phone2 %></li>
  <li>From: <%= current_user.from %></li>
  <li>Destination: <%= current_user.destination %></li>
  <li>Adults: <%= current_user.adults %></li>
  <li>Kids: <%= current_user.kids %></li>
  <li>Pets: <%= current_user.pets %></li>
  <li>Vaccination: <%= current_user.vaccination %></li>
  <li>Geo: <%= current_user.geo %></li>
  <li>Accommodation preferences: <%= current_user.accommodation_pref %></li>
  <li>Date arrival: <%= current_user.date_arrival %></li>
  <li>Request id: <%= current_user.request_id %></li>
  <li>Comment: <%= current_user.comment %></li>
</ul>
