<p>Name: <%= current_user.name %></p>
<p>Email: <%= current_user.email %></p>
<p>Status: <%= current_user.user_status&.status %></p>
<p>Coordinator: <%= current_user.coordinator&.name %></p>
<p><%= current_user.name %></p> <%# add link to coordinator show page %>
<p>From: <%= current_user.from %></p>
<p>Destination: <%= current_user.destination %></p>
<p>Adults: <%= current_user.adults %></p>
<p>Kids: <%= current_user.kids %></p>
<p>Pets: <%= current_user.pets %></p>
<p>Phone: <%= current_user.phone %></p>
<p>Another phone: <%= current_user.phone2 %></p>
<p>Geo: <%= current_user.geo %></p>
<p>Accommodation preferences: <%= current_user.accommodation_pref %></p>
<p>Date arrival: <%= current_user.date_arrival %></p>
<p>Request id: <%= current_user.request_id %></p>
<p>Vaccination: <%= current_user.vaccination %></p>
<p>Comment: <%= current_user.comment %></p>