</br>
<div class="button fa fa-arrow-left fa-lg pull-right">
  <%= link_to 'Back', root_path, class: "btn btn-outline-dark" %>
</div>

<h2><%= @place.name %></h2>

<ul class="list-group list-group-flush">
  <li class="list-group-item"><b>Name:</b> <%= @place.name %></li>
  <li class="list-group-item"><b>Accommodation Type:</b> <%= @place.accommodation_type&.name %></li>
  <li class="list-group-item"><b>City:</b> <%= @place.city %></li>
  <li class="list-group-item"><b>Region:</b> <%= @place.region.center %></li>
  <li class="list-group-item"><b>Rooms Available:</b> <%= @place.rooms_available %></li>
  <li class="list-group-item"><b>Bads:</b> <%= @place.beds %></li>
  <li class="list-group-item"><b>Kids Beds:</b> <%= @place.kids_beds %></li>
  <li class="list-group-item"><b>Is Pets Allowed:</b> <span class="boolean"><%= @place.is_pets_allowed ? 'YES' : 'NO' %></span></li>
  <li class="list-group-item"><b>Capacity:</b> <%= @place.capacity %></li>
  <li class="list-group-item"><b>Additonal Kids Beds:</b> <%= @place.additional_child_place %></li>
  <li class="list-group-item"><b>Coordinator:</b> <%= @place.coordinator&.name %></li>
  <li class="list-group-item"><b>Status:</b> <%= @place.status.humanize %></li>
  <li class="list-group-item"><b>Price Per Day:</b> <% if @place.price_per_day %> <%= @place.price_per_day %> <%= @place.currency.upcase %> <% end %></li>
  <li class="list-group-item"><b>Price Per Month:</b> <% if @place.price_per_month %> <%= @place.price_per_month %> <%= @place.currency.upcase %> <% end %></li>
  <li class="list-group-item"><b>Address:</b> <%= @place.address %></li>
  <li class="list-group-item"><b>Distance From Center:</b> <%= @place.distance_from_center %></li>
  <li class="list-group-item"><b>Available Since:</b> <%= @place.available_since.strftime("%a, %B %d") %></li>
  <li class="list-group-item"><b>Available Till:</b> <%= @place.available_till.strftime("%a, %B %d") %></li>
  <li class="list-group-item"><b>Phones:</b> <%= @place.phone %>  <%= @place.phone2 %></li>
  <li class="list-group-item"><b>Is Realtor:</b> <span class="boolean"><%= @place.is_realtor ? 'YES' : 'NO' %></span></li>
  <li class="list-group-item"><b>Contact Name:</b> <%= @place.contact_name %></li>
  <li class="list-group-item"><b>Geo:</b> <%= @place.geo %></li>
  <li class="list-group-item"><b>Website:</b> <%= @place.website %></li>
  <li class="list-group-item"><b>Floor:</b> <%= @place.floor %></li>
  <li class="list-group-item"><b>Is Newbuilding:</b> <span class="boolean"><%= @place.is_newbuilding ? 'YES' : 'NO'%></span></li>
  <li class="list-group-item"><b>Assigned To:</b> <%= @place.user&.name %></li>
  <li class="list-group-item"><b>Comment:</b> <%= @place.comment %></li>
</ul>
